<!DOCTYPE html>
<html>

<head>
    <base href="/">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>NerdLevels</title>
    <link rel="icon" type="image/png" href="/img/nerdlevels-logo-green.png" />
	<!--<link rel="stylesheet" href="assets/demo.css">-->
    
        
	<link rel="stylesheet" href="/css/sidebar-collapse.css">
    <link rel="stylesheet" href="/css/header-basic.css">
    
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>

     <!--video.js-->
       <script src="/js/viblast.js"></script>


    
	<script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/handlebars-v4.0.5.js"></script>
    <script>
    'use strict';
    $(() => {
        // BUILD LIST OF PROJECTS
        <% var projects = []; %>
        <% vids.forEach(function(vid){ %>
            <% var repeat = false; %>
            <% if(projects.length > 0){ %>
                <% projects.forEach(function(project){ %>
                    <%if(vid.project == project){ %>
                        <% repeat = true; %>
                    <%}%>
                <%}) %>
                <% if(repeat){ %>
                    <% repeat = false; %>
                <%}else{%>
                     var template = $('#project').html();
                    var templateScript = Handlebars.compile(template);
                    var selected = "";
                    
                    if('<%= vidProject %>' == "<%= vid.project %>"){
                        selected = "selected";
                    }

                    var context = { "selected": selected, "project" : "<%= vid.project %>", "link" : "index/<%= vid.name %>/<%= vid.number %>" };

                    var html = templateScript(context);

                    if('<%= vid.track %>' == 'Game'){
                        // Insert the HTML code into the page
                        $('#game').append(html);
                    }else{
                        $('#web').append(html);
                    }

                     <%   projects.push(vid.project ); %> 
                <%}%>
            <% }else{ %>
                    var template = $('#project').html();
                    var templateScript = Handlebars.compile(template);
                    var selected = "";
                    
                    if('<%= vidProject %>' == "<%= vid.project %>"){
                        selected = "selected";
                    }

                    var context = { "selected": selected, "project" : "<%= vid.project %>", "link" : "index/<%= vid.name %>/<%= vid.number %>" };

                    var html = templateScript(context);

                    if('<%= vid.track %>' == 'Game'){
                        // Insert the HTML code into the page
                        $('#game').append(html);
                    }else{
                        $('#web').append(html);
                    }
               <%   projects.push(vid.project ); %>
            <%}   %>
            
               
            
      <% }) %>

        //BUILD LIST OF COMPONENTS
        <% var components = []; %>
        <% vids.forEach(function(vid){ %>
            <% var repeat = false; %>
            <% if(components.length > 0){ %>
                <% components.forEach(function(component){ %>
                    <%if(vid.project+vid.component == component){ %>
                        <% repeat = true; %>
                    <%}%>
                <%}) %>
                <% if(repeat){ %>
                    <% repeat = false; %>
                <%}else{%>
                    var template = $('#component').html();
                    var templateScript = Handlebars.compile(template);
                    var selected = "";
                    
                    if('<%= vidComponent %>' == "<%= vid.component %>" && '<%= vidProject %>' == "<%= vid.project %>"){
                        selected = "selected";
                    }

                    var context = { "selected": selected, "component" : "<%= vid.component %>", "project" : "<%= vid.project %>", "link" : "index/<%= vid.name %>/<%= vid.number %>" };

                    var html = templateScript(context);

                    $("#<%=vid.project%>").append(html);
                  
                     <%   components.push(vid.project+vid.component); %> 
                <%}%>
            <% }else{ %>
                var template = $('#component').html();
                    var templateScript = Handlebars.compile(template);
                    var selected = "";
                    
                    if('<%= vidComponent %>' == "<%= vid.component %>" && '<%= vidProject %>' == "<%= vid.project %>"){
                        selected = "selected";
                    }
                    var context = { "selected": selected, "component" : "<%= vid.component %>", "project" : "<%= vid.project %>", "link" : "index/<%= vid.name %>/<%= vid.number %>" };

                    var html = templateScript(context);

                    $("#<%=vid.project%>").append(html);
                    <%   components.push(vid.project+vid.component); %>
            <%}   %>
            
               
            
      <% }) %>




        //BUILD LIST OF VIDEOS
        <% vids.forEach(function(vid){ %>
            var template = $('#video').html();
            var templateScript = Handlebars.compile(template);
            var current = "";

            if('<%= vidName %>' == "<%= vid.name %>"){
                current = "current";
            }

            var context = { "current": current, "name" : "<%= vid.name %>", "link" : "index/<%= vid.name %>/<%= vid.number %>" };

            var html = templateScript(context);
            $("#<%=vid.project%><%=vid.component%>").append(html);
        <%})%>

        //SETS THE CORRECT TRACK TO SELECTED
        <% if(vidTrack == 'Web'){ %>
            console.log("Web! " + '<%= vidTrack %>');
            var element = document.getElementById("webClick"); 
            element.classList.add("selected");
        <% }else{ %>
            console.log("Game!");
            var element = document.getElementById("gameClick"); 
            element.classList.add("selected"); 
        <%}%>
       
        


        function playVideo(){
            var str = '<video controls>';
str+= ' <source src="https://s3.amazonaws.com/nerdlevels/<%= vidProject %>/<%= vidComponent %>/<%= vidName %>.mp4" type="video/mp4">'; 
            str+= '</video>';         
            $('.videosDiv').append(str);  
        }
       
        playVideo();
        
    });
    </script>
   
</head>

<body>

    <header class="header-basic">

            <div class="header-limiter">
                <h1>NerdLevels</h1>
                <nav>
                    <a class="selected">Learn</a>
                    <a href="examples">Examples</a>
                    <a href="blog">Blog</a>
                    <a href="about">About</a>
                    <a href="faq">Faq</a>
                </nav>
            </div>

        </header>

            <script id="video" type="text/x-handlebars-template">
                <li class={{current}}><div class="video"><a href={{link}}>{{name}}</a></div></li>
            </script>
    
            <script id="component" type="text/x-handlebars-template">
                <div class= "sub-sub-links">
                    <div class="clickable {{selected}}">
                        <a >{{component}} </a>
                    </div>
                    <ul id={{project}}{{component}} class="sub-sub-sub-links">

                    </ul>
                </div>
            </script>

            <script id="project" type="text/x-handlebars-template">
                <div id={{project}} class="sub-links">
                    <div class="clickable {{selected}}">
                        <a type='button'>{{project}} </a>
                    </div>
                </div>    
            </script>

    <my-app></my-app>

    <script src="/js/app/bundle.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script>
     $(function () {
            var links = $('.sidebar-links > div > .clickable ~ div > .clickable ~ div > .clickable');
            
            links.on('click', function () {
                if($(this).hasClass("selected")){
                    links.removeClass('selected');
                }else{
                    links.removeClass('selected');
                    $(this).addClass('selected');
                }
            });  
          });  
            
        $(function () {
            var links = $('.sidebar-links > div > .clickable ~ div > .clickable');
            
            links.on('click', function () {
                if($(this).hasClass("selected")){
                    links.removeClass('selected');
                }else{
                    links.removeClass('selected');
                    $(this).addClass('selected');
                }

            });    
        });
        
        $(function () {
             var links = $('.sidebar-links > div > .clickable'); 
            
             links.on('click', function () {
                if($(this).hasClass("selected")){
                    links.removeClass('selected');
                }else{
                    links.removeClass('selected');
                    $(this).addClass('selected');
                }

             });    
        });
     </script>

</body>

</html>